// Fonts
// ============

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

// -> Poppins
// 		> 400
// 		> 700
// -> Open Sans
// 		> 400

// Colors
// ============

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

// Breakpoints
// ============

$md: 1280px;
$sm: 960px;
$xs: 575px;

// Normalizing
// ============

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
}

img {
	width: 100%;
	display: block;
}

// Layout
// ============

body {
	background: url(../images/bg-desktop.svg) no-repeat, $violet;
	background-size: cover;
	color: #fff;

	@media (max-width: $sm) {
		background: url(../images/bg-mobile.svg) no-repeat, $violet;
		background-size: contain;
	}
}

header {
	position: absolute;
}

.logo {
	transition: width .5s ease;

	@media (max-width: $sm) {
		width: 200px;
	}

	@media (max-width: $xs) {
		width: 150px;
	}
}

.container {
	margin: 2rem 4.5rem;

	@media (max-width: $xs) {
		margin: 2rem 3rem;
	}
}

main {
	min-height: 100vh;
	padding-top: 5.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (max-width: $xs) {
		padding-top: 10rem;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	@media (max-width: $sm) {
		margin: 0;
		max-width: 750px;
		grid-template-columns: 1fr;
		justify-items: center;

		img {
			width: 60%;
		}
	}

	@media (max-width: $xs) {
		max-width: 500px;

		img {
			width: 80%;
		}
	}
}

// Introduction

.intro {
	padding: 3.2rem;

	@media (max-width: $sm) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		font-family: 'Poppins', sans-serif;
		font-size: 2.5rem;
		font-weight: 700;
		transition: font-size .5s ease;
		
		@media (max-width: $md) {
			font-size: 1.8rem;
		}

		@media (max-width: $sm) {
			text-align: center;
		}

		@media (max-width: $xs) {
			font-size: 1.6rem;
		}
	}

	p {
		font-family: 'Open Sans', sans-serif;
		line-height: 1.5em;
		margin-top: 1.5rem;
		transition: margin-top .5s ease;

		@media (max-width: $sm) {
			text-align: center;
		}

		@media (max-width: $xs) {
			margin-top: 1rem;
		}
	}

	a {
		background: #fff;
		border: none;
		border-radius: 1000px;
		box-shadow: 0 0 12px rgba(#000, .4);
		color: $violet;
		font-family: Poppins, sans-serif;
		text-decoration: none;
		display: inline-block;
		padding: 1rem 4rem;
		margin-top: 1.8rem;
		transition:
			background-color .5s ease,
			color .5s ease,
			transform .2s ease,
			box-shadow .2s ease,
			padding .5s ease;

		&:hover {
			background: $soft-magenta;
			box-shadow: 0 0 18px rgba(#000, .3);
			color: #fff;
			transform: scale(1.03);
		}

		@media (max-width: $md) {
			padding: .5rem 3rem;
		}

		@media (max-width: $sm) {
			padding: .5rem 5rem;
		}

		@media (max-width: $xs) {
			font-size: 1rem;
			padding: .6em 5em;
		}
	}
}

.socials {
	position: absolute;
	bottom: 1rem;
	right: 0;
	display: flex;
	gap: .8rem;

	@media (max-width: $xs) {
		position: static;
		padding-bottom: 2rem;
	}
}

.social {
	width: 2rem;
	height: 2rem;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition:
		border-color .5s ease,
		color .5s ease,
		transform .2s ease;

	&:hover {
		border-color: $soft-magenta;
		color: $soft-magenta;
		transform: scale(1.03);
	}
}


// Attribution
// ============

.attribution {
	$bg: hsla(257, 20%, 15%, .8);

	background: $bg;
	width: 100vw;
	font-family: Poppins, sans-serif;
	position: fixed;
	bottom: 0;
	padding: .5rem;
	transform: translateY(100%);
	transition: transform .5s ease;

	&::before {
		position: absolute;
		background: $bg;
		border-bottom: 2px solid $bg;
		border-radius: .5em .5em 0 0;
		width: 50px;
		height: 40px;
		top: 0;
		left: 0;
		transform: translate(10px, -100%);
		padding-top: .2em;
		content: '?';
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Poppins, sans-serif;
		font-size: 1.5rem;
		font-weight: 700;
	}

	&:hover {
		transform: translate(0);
	}

	&:active {
		border: 2px solid red;
		transform: translate(0);
	}

	@media screen and (hover: none) {
		font-size: .6rem;
		letter-spacing: .15em;
		padding: .2rem;
		transform: translate(0)	;

		&::before {
			display: none;
		}
	}

	p {
		max-width: 500px;
		font-size: inherit;
		margin: 0 auto;
		text-align: center;
	}
	
	a {
		color: $violet;
		font-weight: 700;
		font-size: inherit;
		text-decoration: none;
		transition: color .5s ease;

		&:hover {
			color: $soft-magenta;
		}
	}
}